@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;


<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link btn btn-link py-0" href="#"> @User.Identity.Name</a>
        </li>

        <li class="nav-item">
            <form method="post" asp-action="Logout" asp-controller="account">
                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto;"> Logout </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
        </li>

        <li class="nav-item">
            <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
        </li>



    }

</ul>